.user-history-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.problems-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.problem-item {
    width: max-content;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.problem-item div {
    margin-bottom: 5px;
}

.solution-button, .locations-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 75px; /* Ensure buttons have consistent size */
    text-align: center;
}

.solution-button {
    background-color: orange;
    color: white;
}

.solution-button:hover {
    background-color: rgb(104, 69, 6);
}

.locations-button {
    background-color: pink;
    color: white;
}

.locations-button:hover {
    background-color: rgb(148, 110, 116);
}

.solution-button.active, .locations-button.active {
    background-color: green; /* Change to green when active */
}

.solution-button.active:hover, .locations-button.active:hover {
    background-color: rgb(0, 88, 0); /* Change to green when active */
}
